{% extends "RadixRecruitmentBundle:Backend:base.html.twig" %}

{% block title %}Backend{% endblock %}

{% block bodyclasses %}application-detail{% endblock %}

{% block body %}

<div class='frontend-link'>
{{ carrot.pageLinks.frontendLink|raw }}
</div>

<div class='backend-pagelinks'>
{{ carrot.pageLinks.backendLinks|raw }}
</div>

<h1>Sollicitatie voor {{ carrot.job.title }}</h1>
<h2>{{ carrot.application.name }}</h2>
<div class="email"><a href="mailto:{{ carrot.application.email }}" target="_blank">{{ carrot.application.email }}</a></div>
<div class="city">{{ carrot.application.city }}</div>
<h3>Werkervaring</h3>
{% for work in carrot.work %}
  <div class="work-item">
    <div class="employer">{{ work.employer }}</div>
    {% if work.position %}
      <div class="position">{{ work.position }}</div>
    {% endif %}
    {% if work.location %}
      <div class="location">{{ work.location }}</div>
    {% endif %}
    {% if work.period %}
      <div class="period">{{ work.period }}</div>
    {% endif %}
    {% if work.description %}
      <div class="description">{{ work.description }}</div>
    {% endif %}
  </div>
{% endfor %}

<h3>Opleiding</h3>
{% for education in carrot.education %}
  <div class="education-item">
	  <div class="school">{{ education.school }}</div>
		{% if education.year %}
		  <div class="year">{{ education.year }}</div>
		{% endif %}
		{% if education.type %}
		  <div class="type">{{ education.type }}</div>
		{% endif %}
  </div>
{% endfor %}

{% if carrot.application.resume is defined %}
<div class="cv"><a href='{{ carrot.application.resume|raw }}' target='_blank'>Download CV</a></div>
{% endif %}

{% if carrot.application.cover is defined %}
<div class="cover"><a href='{{ carrot.application.cover|raw }}' target='_blank'>Download sollicitatiebrief</a></div>
{% endif %}
{% endblock %}