{% extends "RadixRecruitmentBundle:Backend:base.html.twig" %}

{% block title %}Backend{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('/css/slimtable.css') }}" />
{% endblock %}


{% block headerscripts %}
<script src="{{ asset('/scripts/slimtable.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  $("#jobs").slimtable({
		colSettings: [ 
			{ colNumber: 1, enableSort: false },
			{ colNumber: 2, enableSort: false },
			{ colNumber: 3, enableSort: false }
		]
	});
});
</script>
{% endblock %}


{% block body %}

<div class='frontend-link'>
{{ carrot.pageLinks.frontendLink|raw }}
</div>

<div class='backend-pagelinks'>
{{ carrot.pageLinks.backendLinks|raw }}
</div>

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
{{ flashMessage }}
</div>
{% endfor %}

<h1>Jobs overzicht</h1>

<table class="jobs" id="jobs">
<thead>
<tr>
<th class="title">Titel</th>
<th class="edit">Bewerken</th>
<th class="delete">Verwijderen</th>
<th class="applications">Sollicitaties</th>
</tr>
</thead>

<tbody>
{% for job in carrot.jobs %}
<tr class="{{ job.class }}">
<td class="title">{{ job.title|raw }}</td>
<td class="edit"><a href="{{ job.editLink }}">bewerk</a></td>
<td class="delete"><a href="{{ job.deleteLink }}">verwijder</a></td>
<td class="applications"><a href="{{ job.applicationsLink }}">sollicitaties</a></td>
</tr>
{% endfor %}

</tbody>

</table>

<div class="add-job">
{{ carrot.pageLinks.addJob|raw }}
</div>

{% endblock %}