{% extends "RadixRecruitmentBundle:Backend:base.html.twig" %}

{% block title %}Backend{% endblock %}

{% block body %}

<div class='frontend-link'>
{{ carrot.pageLinks.frontendLink|raw }}
</div>

<div class='backend-pagelinks'>
{{ carrot.pageLinks.backendLinks|raw }}
</div>

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
{{ flashMessage }}
</div>
{% endfor %}

<h1>Jobs overzicht</h1>

<table class="jobs">
<tr>
<th class="title">Titel</th>
<th class="edit">Bewerken</th>
<th class="delete">Verwijderen</th>
<th class="applications">Applications</th>
</tr>

{% for job in carrot.jobs %}
<tr class="{{ job.class }}">
<td class="title">{{ job.title|raw }}</td>
<td class="edit"><a href="{{ job.editLink }}">bewerk</a></td>
<td class="delete"><a href="{{ job.deleteLink }}">verwijder</a></td>
<td class="applications"><a href="{{ job.applicationsLink }}">applications</a></td>
</tr>
{% endfor %}

</table>

<div class="add-job">
{{ carrot.pageLinks.addJob|raw }}
</div>

{% endblock %}