{% extends "RadixRecruitmentBundle:Backend:base.html.twig" %}

{% block body %}

<h1>Applications/Configs</h1>

<table>
<tr>
<th>Accountid</th>
<th>Page title</th>
<th>Actions</th>
</tr>

{% for config in configs %}
<tr>
<td><a href="https://fb.projects.radix-recruitment.be/{{ config.accountid }}/frontend" target="_blank">{{ config.accountid }}</a></td>
<td>{{ config.pagetitle }}</td>
<td><a href="{{ config.link|raw }}">Bewerken</a> | <a href="http://fb.projects.radix-recruitment.be/{{ config.accountid }}/import">Import</a></td>
</tr>
{% endfor %}
<a href="/admin/application/new">New application</a>

{% endblock %}