{% extends "RadixRecruitmentBundle:Default:baseWide.html.twig" %}

{# START PARENT VARIABLES #}

{# admin link #}
{% if carrot.pageLinks.adminLink is defined %}
  {% set base_admin = carrot.pageLinks.adminLink %}
{% endif %}

{# home link #}
{% if carrot.pageLinks.homeLink is defined %}
  {% set base_home = carrot.pageLinks.homeLink %}
{% endif %}

{# top banner #}
{% if carrot.banners.topfront is defined %}
  {% set base_banner_top = carrot.banners.topfront %}
{% endif %}

{# right banner #}
{% if carrot.banners.right is defined %}
  {% set base_banner_right = carrot.banners.right %}
{% endif %}

{# bottom banner #}
{% if carrot.banners.bottom is defined %}
  {% set base_banner_bottom = carrot.banners.bottom %}
{% endif %}

{# subscriber form #}
{% if carrot.subscriberForm is defined %}
  {% set base_subscribe = form(carrot.subscriberForm) %}
{% endif %}

{# get introduced link #}
{% if carrot.introduced is defined %}
  {% set base_introduced = carrot.introduced %}
{% endif %}

{# connect link #}
{% if carrot.callToAction.fbConnect is defined %}
  {% set base_fb_connect = carrot.callToAction.fbConnect %}
{% endif %}

{# END PARENT VARIABLES #}

{# START BLOCKS #}

{# TITLE BLOCK #}
{% block title %}Solliciteren voor {{ carrot.job.title }}{% endblock %}

{# BODY CLASSES BLOCK #}
{% block bodyclasses %}apply{% endblock %}

{# MAIN COLUMN BLOCK #}

{# HEADERSCRIPTS BLOCK #}
{% block headerscripts %}
<script type="text/javascript" src="{{ asset('/scripts/apply.js?1') }}"></script>
{% endblock %}




{% form_theme carrot.form _self %}

{% block form_row %}
    <div class="form-item clearfix">
      <div class="label">{{ form_label(form) }}</div>
      <div class="errors">{{ form_errors(form) }}</div>
      <div class="widget">{{ form_widget(form) }}</div>
    </div>
{% endblock form_row %}


{% block main %}

<h1>{{ carrot.job.applyTitle|raw }}</h1>

<form id="apply-form" method="POST" {{ form_enctype(carrot.form) }}>
    {# render the task's only field: description #}
    {{ form_row(carrot.form.name) }}
    {{ form_row(carrot.form.city) }}
    {{ form_row(carrot.form.email) }}    

    {{ form_row(carrot.form.resumefile) }}
    {{ form_row(carrot.form.coverfile) }}

    <h3 class="work" style="clear: both;">Werkervaring</h3>
    <div class="work-items">
    <ul class="work" data-prototype="{{ form_widget(carrot.form.work.vars.prototype)|e }}">
        {% for work in carrot.form.work %}
            <li id="form-item-work-{{ loop.index0 }}">
              <div class="item-work item-employer">{{ form_row(work.employer) }}</div>
              <div class="item-work item-location">{{ form_row(work.location) }}</div>
              <div class="item-work item-position">{{ form_row(work.position) }}</div>
              <div class="item-work item-description">{{ form_row(work.description) }}</div>
              <div class="item-work item-startdate">{{ form_row(work.startdate) }}</div>
              <div class="item-work item-enddate">{{ form_row(work.enddate) }}</div>
            </li>
        {% endfor %}
    </ul>
    </div>

    <h3 class="education" style="clear: both;">Opleiding</h3>
    <div class="education-items">    
    <ul class="education" data-prototype="{{ form_widget(carrot.form.education.vars.prototype)|e }}">
        {% for education in carrot.form.education %}
            <li id="form-item-education-{{ loop.index0 }}">
              <div class="item-education item-school">{{ form_row(education.school) }}</div>
              <div class="item-education item-year">{{ form_row(education.year) }}</div>
              <div class="item-education item-type">{{ form_row(education.type) }}</div>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div style="clear: both;">
	    {{ form_rest(carrot.form) }}
    </div>
</form>

{% endblock %}