{% extends "RadixRecruitmentBundle:Default:base.html.twig" %}

{% block headerscripts %}
<script type="text/javascript" src="{{ asset('/scripts/apply.js') }}"></script>
{% endblock %}

{% block title %}{{ carrot.job.title }}{% endblock %}

{% block body %}

{% if carrot.pageLinks.adminLink %}
<div class='admin-link'>
{{ carrot.pageLinks.adminLink|raw }}
</div>
{% endif %}


<h1>Solliciteren voor {{ carrot.job.title }}</h1>

<div class="links">
<a href='{{ carrot.pageLinks.overview }}'>To overview</a> | <a href='{{ carrot.pageLinks.detail }}'>To job</a>
</div>


<form method="POST" {{ form_enctype(carrot.form) }}>
    {# render the task's only field: description #}
    {{ form_row(carrot.form.name) }}
    {{ form_row(carrot.form.city) }}
    {{ form_row(carrot.form.email) }}    

    <h3>Work</h3>
    <ul class="work" data-prototype="{{ form_widget(carrot.form.work.vars.prototype)|e }}">
        {% for work in carrot.form.work %}
            <li>
              {{ form_row(work.employer) }}<br />
              {{ form_row(work.location) }}<br />
              {{ form_row(work.position) }}<br />
              {{ form_row(work.description) }}<br />
              {{ form_row(work.startdate) }}<br />
              {{ form_row(work.enddate) }}<br />                                                                      
            </li>
        {% endfor %}
    </ul>

    <h3>Education</h3>
    <ul class="education" data-prototype="{{ form_widget(carrot.form.education.vars.prototype)|e }}">
        {% for education in carrot.form.education %}
            <li>
              {{ form_row(education.school) }}<br />
              {{ form_row(education.year) }}<br />
              {{ form_row(education.type) }}<br />
            </li>
        {% endfor %}
    </ul>


    {{ form_rest(carrot.form) }}
</form>

{% endblock %}