{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}" />
{% endblock %}

{% block title %}{{ job.title }}{% endblock %}

{% block body %}
{{ message }}
<h1>Solliciteren voor {{ job.title }}</h1>


<div class="detail">
hieronder het formulier
{{ form(form) }}
en hieronder de education
{{ form_row(form.education) }}
</div>

{% endblock %}