{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}" />
{% endblock %}

{% block title %}{{ job.title }}{% endblock %}

{% block body %}
<h1>{{ job.title }}</h1>
<a href="{{ overview_link }}">Naar overzicht</a>
<div class="detail">
{{ job.description|raw }}
</div>
{% endblock %}