{% extends "RadixRecruitmentBundle:Default:base.html.twig" %}

{# START PARENT VARIABLES #}

{# admin link #}
{% if carrot.pageLinks.adminLink is defined %}
  {% set base_admin = carrot.pageLinks.adminLink %}
{% endif %}

{# home link #}
{% if carrot.pageLinks.homeLink is defined %}
  {% set base_home = carrot.pageLinks.homeLink %}
{% endif %}

{# top banner #}
{% if carrot.banners.topfront is defined %}
  {% set base_banner_top = carrot.banners.topfront %}
{% endif %}

{# right banner #}
{% if carrot.banners.right is defined %}
  {% set base_banner_right = carrot.banners.right %}
{% endif %}

{# bottom banner #}
{% if carrot.banners.bottom is defined %}
  {% set base_banner_bottom = carrot.banners.bottom %}
{% endif %}

{# subscriber form #}
{% if carrot.subscriberForm is defined %}
  {% set base_subscribe = form(carrot.subscriberForm) %}
{% endif %}

{# get introduced link #}
{% if carrot.introduced is defined %}
  {% set base_introduced = carrot.introduced %}
{% endif %}

{# connect link #}
{% if carrot.callToAction.fbConnect is defined %}
  {% set base_fb_connect = carrot.callToAction.fbConnect %}
{% endif %}


{# END PARENT VARIABLES #}

{# START BLOCKS #}

{# TITLE BLOCK #}
{% block title %}Frontend{% endblock %}

{# BODY CLASSES BLOCK #}
{% block bodyclasses %}job-detail{% endblock %}

{# MAIN COLUMN BLOCK #}
{% block main %}

<div class='job-detail'>
<h1>{{ carrot.job.title }}</h1>
{% if carrot.job.subtitle %}
<h2 class="subtitle">{{ carrot.job.subtitle|raw }}</h2>
{% endif %}

<div class="description">
{{ carrot.job.description|raw }}
<div class='call-to-action'>
  {{ carrot.callToAction.applyLink|raw }}
  {{ carrot.callToAction.applyLinkedin|raw }}
</div>

</div>

</div>

{% endblock %}

{# RIGHT COLUMN BLOCK #}
{% block rightTop %}
{% if carrot.callToAction.applyLink is defined %}
<div class='call-to-action'>
  {{ carrot.callToAction.applyLink|raw }}
</div>
{% endif %}

{% if carrot.callToAction.applyLinkedin is defined %}
<div class='call-to-action-linkedin'>
  {{ carrot.callToAction.applyLinkedin|raw }}
</div>
{% endif %}
{{ parent() }}
{% endblock %}

{% block right %}
{{ parent() }}
<div class="detail-share">
<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="{{ carrot.job.applink }}" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false" data-font="lucida grande" ref="list_like" fb-xfbml-state="rendered"><span style="height: 20px; width: 169px;"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ carrot.job.applink }}" data-text="{{ carrot.job.title }}" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
{% endblock %}
{# END BLOCKS #}