{% extends "RadixRecruitmentBundle:Default:base.html.twig" %}

{% block title %}{{ carrot.job.title }}{% endblock %}

{% block bodyclasses %}job-detail{% endblock %}

{% block body %}

{% if carrot.pageLinks.adminLink %}
<div class='admin-link'>
{{ carrot.pageLinks.adminLink|raw }}
</div>
{% endif %}
<div class="job-detail">

<div class="call-to-action">
{{ carrot.callToAction.applyLink|raw }}
{{ carrot.callToAction.fbConnect|raw }}
</div>

<div class="job-links">
{{ carrot.jobLinks|raw }}
</div>


<h1>{{ carrot.job.title }}</h1>
{% if carrot.job.subtitle %}
<h2 class="subtitle">{{ carrot.job.subtitle|raw }}</h2>
{% endif %}

<div class="description">
{{ carrot.job.description|raw }}
</div>

</div>

{% endblock %}