{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}" />
{% endblock %}

{% block title %}Frontend{% endblock %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1&appId=600850943303218";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% if adminLink %}
<a href="{{ adminLink|raw }}">Go to backend</a>
{% endif %}


<h1>Jobs</h1>
{% for job in jobs %}
<div class="job">
<h2><a href="{{ job.pagelink }}">{{ job.title }}</a></h2>
<div class="online">Online since {{ job.onlineSince }}</div>
<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="{{ job.applink }}" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false" data-font="lucida grande" ref="list_like" fb-xfbml-state="rendered"><span style="height: 20px; width: 169px;"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ job.applink }}" data-text="{{ job.title }}" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
{% endfor %}


{% endblock %}