{% extends "RadixRecruitmentBundle:Default:base.html.twig" %}

{% block title %}Frontend{% endblock %}

{% block bodyclasses %}index{% endblock %}

{% block body %}
{{ parent() }}

{% if carrot.pageLinks.adminLink %}
<div class='admin-link'>
{{ carrot.pageLinks.adminLink|raw }}
</div>
{% endif %}


<h1 class="index-page">Jobs</h1>
<ul class="jobs">
{% for job in carrot.jobs %}
<li class="job">
<div class="online-since">{{ job.onlineSince }}</div>
<h2><a href="{{ job.pagelink }}">{{ job.title }}</a></h2>
{% if job.subtitle %}
<h3 class="subtitle">{{ job.subtitle|raw }}</h3>
{% endif %}

<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="{{ job.applink }}" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false" data-font="lucida grande" ref="list_like" fb-xfbml-state="rendered"><span style="height: 20px; width: 169px;"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ job.applink }}" data-text="{{ job.title }}" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
</li>
{% endfor %}
</ul>

{% endblock %}