<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# workforus: http://ogp.me/ns/fb/workforus#">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:title" content="{{ carrot.job.title }}">
<meta property="og:image" content="{{ carrot.og.thumbnail }}">
<meta property="og:description" content="{{ carrot.job.description }}">
<meta name="title" content="{{ carrot.job.title }}">
<title>{{ carrot.job.title }}</title>
<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
    <script type="text/javascript">
        top.location.href = "{{ carrot.job.link|raw }}"
    </script><a href="{{ carrot.job.link|raw }}">Redirection...</a>  </body>
</html>